node_modules/
dist/
.env
android/.gradle/
android/app/build/
*.jks
*.keystore
.tools/
*.apk
miniprogram/node_modules/
miniprogram/miniprogram_npm/
miniprogram/package-lock.json
miniprogram/project.private.config.json

